<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - la_mia_pizzeria_static</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body>
    <header>
        <navbar>
            <ul class="left-navbar">
                <li><a class="nav-link" href=" #">Logo Pizzeria</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a class="nav-link" href="#">Menù</a></li>
                <li><a class="nav-link" href="#">Chi siamo</a></li>
                <li><a class="nav-link" href="#">Contatti</a></li>
            </ul>
        </navbar>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
