@{
    Pizza pizza1 = new Pizza("Pizza Margherita", "Pizza margherita classica", 10);
    ViewData["Title"] = "Home Page";

    ViewData["Name"] = pizza1.Name;
    ViewData["Description"] = pizza1.Description;
    ViewData["Price"] = pizza1.Price;
}
<div class="text-center">
    <h1 class="display-4">La mia Pizzeria</h1>
    <p>test</p>
</div>

<div>
    <h1>@ViewData["Name"]</h1>
    <p>@ViewData["Description"]</p>
    <p>Price:@ViewData["Price"]</p>
</div>